Babel==2.11.0
Cython==0.29.32
Flask==2.2.2
GitPython==3.1.31
Jinja2==3.0.3
Keras-Preprocessing==1.1.2
Keras==2.1.3
Levenshtein==0.25.0
Markdown==3.4.1
MarkupSafe==2.1.1
MedCode==1.2
Pillow==9.2.0
Pillow==9.5.0
PyDictionary==2.0.1
PyJWT==2.6.0
PySocks==1.7.1
PyYAML==6.0
Pygments==2.13.0
SQLAlchemy==2.0.28
Send2Trash==1.8.0
Sphinx==5.2.3
Theano==1.0.5
Unidecode==1.3.7
Werkzeug==2.2.2
absl-py==1.2.0
accelerate==0.26.1
aiohttp==3.9.3
aiosignal==1.2.0
alabaster==0.7.13
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyio==3.7.1
apache-beam==2.42.0
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.11.1
bert-score==0.3.13
bio==1.5.5
biopython==1.81
biothings-client==0.2.6
bitarray==2.6.0
bleach==5.0.1
blis==0.7.11
bokeh==3.0.1
boto3==1.26.17
botocore==1.29.17
bravado-core==5.17.1
bravado==11.0.3
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpathlib==0.16.0
cloudpickle==2.1.0
codebleu==0.6.0
colorama==0.4.6
confection==0.1.4
conllu==4.5.3
contourpy==1.0.7
crcmod==1.7
cryptography==35.0.0
curl-cffi==0.5.7
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.6.4
datasets==2.18.0
debugpy==1.6.3
decorator==5.1.1
deepchem==2.7.1
defusedxml==0.7.1
descriptastorus==2.5.0.20
dgl==1.0.1
dill==0.3.5.1
distro==1.8.0
docker-pycreds==0.4.0
docker==6.0.1
docopt==0.6.2
docstring-parser==0.15
docutils==0.19
emoji==2.1.0
en-core-sci-sm==0.5.0
en-core-web-sm==2.1.0
entrypoints==0.4
evaluate==0.4.0
exceptiongroup==1.2.0
executing==1.0.0
fairseq==0.12.2
faiss-cpu==1.7.2
faiss-gpu==1.7.2
faiss==1.7.2
fastavro==1.6.1
fastjsonschema==2.16.1
filelock==3.8.0
flatbuffers==22.9.24
frozenlist==1.3.1
fsspec==2023.12.2
furo==2022.12.7
future==0.18.3
futures==3.0.5
gast==0.4.0
gdown==4.5.3
gensim==3.4.0
gitdb==4.0.10
google-api-core==2.11.0
google-auth-oauthlib==0.4.6
google-auth==2.16.1
google-cloud-core==2.3.2
google-cloud-storage==2.6.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
goslate==1.5.4
gprofiler-official==1.0.0
graphviz==0.20.1
greenlet==3.0.3
grover==1.0.0
grpcio==1.47.0
gspread==5.6.2
h11==0.14.0
h5py==3.7.0
hdfs==2.7.0
httpcore==1.0.2
httplib2==0.20.4
httpx==0.25.2
huggingface-hub==0.20.2
hydra-core==1.0.7
idna==3.3
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
iniconfig==1.1.1
install==1.3.5
ipykernel==6.15.2
ipython-genutils==0.2.0
ipython==8.4.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
jmespath==1.0.1
joblib==1.2.0
joypy==0.2.6
jsonpatch==1.33
jsonpickle==3.0.1
jsonpointer==2.4
jsonref==1.1.0
jsonschema==2.6.0
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-tabnine==1.2.3
jupyter_client==7.3.5
jupyter_core==4.11.1
jupyterlab-pygments==0.2.2
jupyterthemes==0.20.0
kiwisolver==1.4.2
lama==0.1
langchain-community==0.0.28
langchain-core==0.1.32
langchain-text-splitters==0.0.1
langchain==0.1.12
langcodes==3.3.0
langsmith==0.1.26
latexcodec==2.0.1
lazy_loader==0.2
lesscpy==0.15.0
libclang==14.0.6
littleutils==0.2.2
lizard==1.17.10
lmdb==1.3.0
lxml==4.9.1
markdown-it-py==2.2.0
marshmallow==3.21.1
matplotlib-inline==0.1.6
matplotlib==3.4.3
mdit-py-plugins==0.3.4
mdurl==0.1.2
mistune==2.0.4
mne==1.3.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.2
multiprocess==0.70.13
murmurhash==1.0.9
mwparserfromhell==0.6.4
mygene==3.2.2
mypy-extensions==1.0.0
myst-parser==0.18.1
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nbsphinx-link==1.3.0
nbsphinx==0.8.9
neptune==1.2.0
nest-asyncio==1.5.5
networkx==2.8.6
nltk==3.7
nmslib==2.1.1
nose==1.3.7
notebook==6.4.12
numpy==1.22.3
numpy==1.22.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
nvidia-smi==0.1.3
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
omegaconf==2.0.6
openai==1.23.3
openlogprobs==0.0.1
opt-einsum==3.3.0
orjson==3.9.15
packaging==23.2
pandarallel==1.6.4
pandas-bokeh==0.5.5
pandas-flavor==0.5.0
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
pathy==0.10.0
patsy==0.5.3
peft==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pip==24.0
pkgutil_resolve_name==1.3.10
plac==0.9.6
plotly==5.14.1
pluggy==1.0.0
ply==3.11
pooch==1.6.0
portalocker==2.6.0
preshed==3.0.9
prometheus-client==0.14.1
prompt-toolkit==3.0.30
proto-plus==1.22.1
protobuf==3.20.0
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
py==1.11.0
pyDeprecate==0.3.2
pyOpenSSL==22.0.0
pyarrow-hotfix==0.6
pyarrow==12.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybind11==2.6.1
pybtex-docutils==1.0.2
pybtex==0.24.0
pycparser==2.21
pydantic==2.7.1
pydantic_core==2.18.2
pydot==1.4.2
pyenchant==3.2.2
pyg-lib==0.1.0+pt112cu113
pyhealth==1.1.4
pymongo==3.12.3
pyparsing==3.0.9
pyrsistent==0.18.1
pysbd==0.3.4
pyspark==3.3.1
pytest==7.1.3
python-Levenshtein==0.25.0
python-dateutil==2.8.2
pytorch-lightning==1.6.0
pytorch-pretrained-bert==0.6.2
pytz==2022.2.1
pyvis==0.3.1
pyzmq==23.2.1
rank-bm25==0.2.2
rapidfuzz==3.6.1
rdflib==6.3.1
rdkit==2022.3.4
regex==2022.9.13
requests-oauthlib==1.3.1
requests==2.28.1
responses==0.18.0
retrying==1.3.4
rfc3987==1.3.8
rich==13.7.0
rouge-score==0.1.2
rsa==4.9
s3transfer==0.6.0
sacrebleu==2.3.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-learn==1.2.1
scipy==1.8.1
scispacy==0.5.4
seaborn==0.12.2
sentencepiece==0.1.97
sentry-sdk==2.0.1
setproctitle==1.3.3
setuptools==63.4.1
shtab==1.6.5
simplejson==3.19.1
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sorcery==0.2.2
soupsieve==2.3.2.post1
spacy-legacy==3.0.12
spacy-loggers==1.0.3
spacy==3.2.6
spark-nlp==4.3.1
spherecluster==0.1.7
sphinx-autodoc-annotation==1.0.post1
sphinx-automodapi==0.14.1
sphinx-basic-ng==1.0.0b1
sphinx-copybutton==0.5.0
sphinx-gallery==0.11.1
sphinx-last-updated-by-git==0.3.4
sphinx-remove-toctrees==0.0.3
sphinx-toggleprompt==0.3.1
sphinx_autodoc_typehints==1.19.4
sphinx_design==0.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-httpdomain==1.8.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-spelling==8.0.0
sphinxext-opengraph==0.6.3
srsly==2.4.8
stack-data==0.5.0
stanford-openie==1.3.0
stanfordnlp==0.2.0
stanza==1.4.2
statsmodels==0.14.0
strict-rfc3339==0.7
swagger-spec-validator==3.0.3
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.10.0
tensorboardX==2.6.2.2
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow==2.10.0
tensorly==0.8.1
termcolor==1.1.0
terminado==0.15.0
thinc==8.0.17
threadpoolctl==3.1.0
tiktoken==0.5.2
tinycss2==1.1.1
tokenizers==0.15.0
tomli==2.0.1
torch-cluster==1.6.0+pt112cu113
torch-geometric==2.3.0
torch-scatter==2.1.0+pt112cu113
torch-sparse==0.6.16+pt112cu113
torch-spline-conv==1.2.1+pt112cu113
torch==1.10.0+cu113
torch==2.1.2
torchaudio==0.10.0+cu113
torchaudio==0.13.0
torchmetrics==0.9.3
torchvision==0.11.1+cu113
torchvision==0.14.0
tornado==6.1
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
transformers==4.36.2
tree-sitter==0.20.4
triton==2.1.0
trl==0.7.9
typer==0.4.2
typing-inspect==0.9.0
typing_extensions==4.10.0
tyro==0.6.4
urllib3==1.26.11
urllib3==1.26.12
wandb==0.16.6
wasabi==0.10.1
wcwidth==0.2.5
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.4.2
wget==3.2
wheel==0.37.1
wrapt==1.14.1
xarray==2023.1.0
xgboost==1.6.2
xxhash==3.1.0
xyzservices==2023.2.0
yarl==1.8.1
zipp==3.8.1
zstandard==0.18.0